html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

body {
  --blue: #3490dc;
  --dark_blue: #0668b8;
  --green: #02730a;
  --light-blue: #d5ecff;
  --lighter-blue: #e5f1fb;
  --light-gray: rgb(238, 236, 236);
  --medium-gray: #ccc;
  --dark-gray: #999;
  --white: #fff;
  --gray: #ccc;
  --gradient: linear-gradient(-15deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --loop-gradient: linear-gradient(
    75deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #23a6d5,
    #e73c7e,
    #ee7752
  );
  --default-font-family: Helvetica Neue;
  --editor-font-family: 'Merriweather', serif;
  --sidebar-left-width: 400px;
  --sidebar-right-width: 450px;
  --text-selection: rgb(178, 216, 252);

  font-family: var(--default-font-family);
}
